{% extends '::frontend.html.twig' %}

{% block contenido %}
    <h1>Crear usuario</h1>

    {% if form_errors(form) %}
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">x</a>
            {{ form_errors(form) }}
        </div>
        <br/>
    {% endif %}

    {{ form(form) }}

    <br>
    <a class="btn btn-inverse" href="{{ path('usuario') }}"><< Regresar al listado</a>
    <br>
{% endblock %}
