.container-fluid {
    padding-right: 40px;
    padding-left: 0px;
}
@media (max-width: 979px) {
    #sidebar {
        margin-left: -20px !important;
        margin-right: -20px !important;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}
h2 {
    font-size: 28px;
}
hr {
    clear: both;
    margin: 20px 0 10px;
}
a, a:hover, a:active, a:focus, input {
    outline: 0 !important;
}
[class^="icon-"], [class*=" icon-"] {
    opacity:0.8;
}
.stdpad {
    padding: 15px;
}
.po-close{
    margin-left: 10px;
}
.breadcrumb {
    margin: 0 0 15px;
    border-radius: 0 0 4px 4px;
    border: 1px solid #DDD;
    border-top: 0;
    padding: 6px 10px 3px;
    font-size: 12px;
}
.breadcrumb li {
    text-shadow: none;
}
.breadcrumb ul.dropdown-menu li {
    display: block;
}
.breadcrumb li.pull-right {
    margin: -2px 0 0 5px;
}
.breadcrumb i.icon-off {
    margin-top: -1px;
}
img.language-img {
    vertical-align: top;
    margin: 4px 5px 0 0;
}
.modal {
    overflow: hidden;
    max-height: 85%;
    width: 515px;
    margin: -250px 0 0 -250px;
}
.modal-header .close {
    margin-top: 5px;
}
.modal-header {
    padding: 6px 15px 4px;
    background: whiteSmoke;
    border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #CCC;
}
.modal-header h3 {
    color: #555;
    font-size: 18px;
}
.modal-body {
    /* padding: 0;
    overflow: visible; */
    max-height: 450px;

}
.modal-content {
    max-height: 90%;
    position: relative;
}
.modal-inner {
    /*padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
    position:relative;
    -webkit-overflow-scrolling: touch;
    */
}
.modal-footer { 
    margin:10px -15px -15px -15px;
}
.modal-small{
    height:250px;
    overflow-y: visible;
}
.modal-mini{
    height:100px;
    overflow-y: visible;
}
.margin5{
    margin:8px 5px 0;
}
.margin-left-5{
    margin-left:5px;
}
.margin15{
    margin:15px 0 10px;
}
.margin20{
    margin:20px 5px;
}
.margintop5{
    margin:5px 0 0;
}
.table_head .btn {
    margin: 4px -6px 0 10px;
}
.data-table-marginbottom{
    margin-bottom: 60px;
}
.marginbottom20{
    margin-bottom: 20px;
}
.nav-tabs{
    border-bottom: 0px;
}
.label-light{
    background:#353535;
}
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.bootstrap-wysihtml5-insert-image-url, .bootstrap-wysihtml5-insert-link-url{
    width:97% !important;
    height: 20px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.bootstrap-wysihtml5-insert-image-modal .modal-footer, .bootstrap-wysihtml5-insert-link-modal .modal-footer{
    margin: 10px 0px 0px -15px;
}
/* modal mobile fix */
@media (max-width: 767px) {
    .modal.fade.in {
        top: 5% !important;
    }
}
.login {

    margin: 50px 0 10px;
}
.login h2 {
    color: #FFF;
    text-align: center;
}
.login form {
    padding-right: 35px;
    margin: 20px 0;
}
.login form input {
    width: 100%;
}
.login .well {
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 1px 4px #000000;
}
a.forgotpass {
    font-size: 12px;
    margin: 6px 0 0 0;
}
#sidebar {
    color: #C4C4C4;
}
.logo {
    padding: 20px 5px;
    background: #1A1A1A;
    text-align: center;
}
.agent-info {
    border-bottom: 1px solid #000;
    padding: 10px 15px;
    border-top: 1px solid #000;
    line-height: 15px;
    background: rgb(41, 41, 41);
    height:29px;
}
.agent-info a {
    color: #5F94AF;
}
.agent-info .username {
    margin-top: 1px;
}
.agent-info .username a.user {
    color: #CCC;
    font-weight: bold;
    font-size: 12px;
}
.agent-info .username small {
    color: #666;
    font-size: 11px;
}
.agent-info a.small {
    font-size: 10px;
    padding-right: 10px;
}
.agent-pic {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 7px 0 0;
}
.agent-pic img{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.loader{
    background:url("../img/loader.gif") no-repeat center;
    width:21px;
    height:14px;
    display:none;
}
.shadow {
    -webkit-box-shadow: 0px 0px 2px #000000;
    -moz-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;
}
.clear {
    clear: both;
}
.no-margin{
    margin:0 !important;
}
.label a {
    color: #FFF;
}
.cursor{
    cursor:pointer;
}
.minipic{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height:20px;
}
.table_head .minipic{
    margin: 5px 0 0 -4px !important;
}
.well-dark {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #292929;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
#openmenu{
    height:15px;
    width:22px;
    margin-top:-8px;
    background:url("../img/menu-button.png") no-repeat center;
}
.nav.dark > li > a {
    display: block;
    color: #979797;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.nav.dark.submenu {
    float: none !important;
    position: static !important;
    margin: 0;
}
ul.dropdown-custom {
    display: none;
}
.nav.dark > li.active > ul.dropdown-custom {
    display: block;
}
.nav.dark li i {
    margin-top: 0;
}
.nav.dark.submenu > li > a {

    margin: 0 -15px;
    padding: 8px 12px 8px 35px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
    text-decoration: none;
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjFiMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #222222 0%, #202020 98%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(98%,#202020), color-stop(100%,#1b1b1b));
    background: -webkit-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: -o-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: -ms-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: linear-gradient(to bottom,  #222222 0%,#202020 98%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#1b1b1b',GradientType=0 );
}
.nav.dark.submenu > li.active > a, .nav.dark.submenu > li.active > a:hover {
    border-right: none;
    font-weight: bold;
    background: #222222;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyMjIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzIwMjAyMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjFiMWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #222222 0%, #202020 98%, #1b1b1b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222222), color-stop(98%,#202020), color-stop(100%,#1b1b1b));
    background: -webkit-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: -o-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: -ms-linear-gradient(top,  #222222 0%,#202020 98%,#1b1b1b 100%);
    background: linear-gradient(to bottom,  #222222 0%,#202020 98%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222222', endColorstr='#1b1b1b',GradientType=0 );
}
.nav.dark > li.active > a, .nav.dark > li.active > a:hover {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    border-top: #000;
    border-bottom: 1px solid #111;
    border-right: 0px solid #08C;
    background: rgb(73,73,73);
    background: -moz-linear-gradient(top,  rgba(73,73,73,1) 0%, rgba(61,61,61,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,73,73,1)), color-stop(100%,rgba(61,61,61,1)));
    background: -webkit-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(61,61,61,1) 100%);
    background: -o-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(61,61,61,1) 100%);
    background: -ms-linear-gradient(top,  rgba(73,73,73,1) 0%,rgba(61,61,61,1) 100%);
    background: linear-gradient(to bottom,  rgba(73,73,73,1) 0%,rgba(61,61,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#3d3d3d',GradientType=0 );

}
.nav.dark > li.active > a, .nav.dark > li.active a i.icon-white{
    opacity:1;
}
.nav.dark > li > a:hover {

    background: #2d2d2d;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJkMmQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzI4MjgyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMTIxMjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #2d2d2d 0%, #282828 98%, #212121 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2d2d), color-stop(98%,#282828), color-stop(100%,#212121));
    background: -webkit-linear-gradient(top,  #2d2d2d 0%,#282828 98%,#212121 100%);
    background: -o-linear-gradient(top,  #2d2d2d 0%,#282828 98%,#212121 100%);
    background: -ms-linear-gradient(top,  #2d2d2d 0%,#282828 98%,#212121 100%);
    background: linear-gradient(to bottom,  #2d2d2d 0%,#282828 98%,#212121 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2d2d', endColorstr='#212121',GradientType=0 );
}

.dark.nav-list > li > a {
    padding: 8px 8px 8px 14px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
    background: #292929;
    /*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5MjkyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzI0MjQyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #292929 0%, #242424 98%, #1c1c1c 100%); /* FF3.6+ */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292929), color-stop(98%,#242424), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top,  #292929 0%,#242424 98%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top,  #292929 0%,#242424 98%,#1c1c1c 100%); /* Opera 11.10+ */
    /*background: -ms-linear-gradient(top,  #292929 0%,#242424 98%,#1c1c1c 100%); /* IE10+ */
    /*background: linear-gradient(to bottom,  #292929 0%,#242424 98%,#1c1c1c 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
}
.dark.sub.nav-list > li > a {

    background: #303030; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzI2MjYyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #303030 0%, #262626 98%, #1c1c1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303030), color-stop(98%,#262626), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #303030 0%,#262626 98%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #303030 0%,#262626 98%,#1c1c1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #303030 0%,#262626 98%,#1c1c1c 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #303030 0%,#262626 98%,#1c1c1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303030', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
}
.full_sidebarbg {
    position: fixed;
    left: -5px;
    top: 0;
    bottom: 0;
    z-index: -888;
    background: #1A1A1A;
}
.sidebar-nav {
    color: #FFF;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.dark.nav-list > .active > a, .dark.nav-list > .active > a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    border-top: 1px solid #333;
    border-bottom: 1px solid #111;
}
.dark.nav-list [class^="icon-"] {
    margin-right: 2px;
}

.dark.nav-list .divider, div.divider {
    *width: 100%;
    height: 1px;
    margin: 8px 0px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #111;
    border-bottom: 1px solid #333;
}

.widget {
    padding: 10px;
    border: 1px solid rgb(17, 17, 17);
    background: #222;
    margin: 5px;
}
.widget h6 {
    margin: 0 0 10px;
    border-bottom:1px solid rgb(73, 73, 73);
}
.widget .progress {
    height: 3px;
    background: #141414;
}
.widget small a {
    color: #999;
}
.widget .label {
    font-size: 10px;
}
ul.user-list{
    margin:0;
    list-style: none;
}
ul.user-list li{
    padding: 4px;
    font-size: 12px;
    line-height: 24px;
    height:24px;
    border-bottom: 1px solid #333;
}
ul.user-list li.last-item{
    border-bottom:0;
}
ul.user-list li img.userpic{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin:-3px 5px 0 0;
}
.offset-top {
    padding-top: 20px;
}
.center {
    text-align: center;
}
#overview p{
    color: #BBB9B9;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 20px;
}
#overview h2{
    margin-bottom: -3px;
}
form {
    margin: 0;
}
label.error {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    height: auto;
    overflow: visible;
    display: block;
    width: 100%;
    background: #B72A18;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    border-radius: 4px;
}
label.error span {
    background: url("../img/red-arrow-up.png");
    display: block;
    width: 10px;
    height: 7px;
    margin-top: -7px
}

/* Table */

table {
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
    clear:left !important;
}
.table_head {
    clear: both;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin: 15px 0 0 0;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    background-color: whiteSmoke;
    /*
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    
    border: 1px solid #BBB;*/
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.table_head h6, .table_head img {
    float: left;
    margin: 6px 0 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 1px 1px white;
    color: #444;
}
.table_head h6 i{
    margin: 0px 5px 0 -7px;
}
.table_head .btn i{
    margin-top: 0px;
}
.table_head img {
    margin: 7px 5px 0 0;
}
table thead th {
    border: 1px solid #e1e1e1;
    text-align: left;
    cursor: pointer;
    color: #3D3D3D;
    font-weight: bold;
    font-size: 11px;
    white-space: nowrap;
    padding-right: 15px;
}
table thead tr, table thead tr:hover {
    background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #f7f7f7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f7f7f7));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%);
    background: linear-gradient(top,  #fcfcfc 0%,#f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f7f7f7',GradientType=0 );
}
table td.option {
    text-align: center;
    width: 30px;
    white-space: nowrap;
}


#settings td.bottom {
    background: #f9f9f9;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#f4f4f4));
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f4f4f4 100%);
    background: -o-linear-gradient(top,  #f9f9f9 0%,#f4f4f4 100%);
    background: -ms-linear-gradient(top,  #f9f9f9 0%,#f4f4f4 100%);
    background: linear-gradient(top,  #f9f9f9 0%,#f4f4f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f4f4f4',GradientType=0 );
}

/*
 * DataTables sorting
 */

.sorting_asc {
    background: url('../img/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../img/sort_desc.png') no-repeat center right;
}

.sorting {
    background: url('../img/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../img/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../img/sort_desc_disabled.png') no-repeat center right;
}

tr {
    font-size: 12px;
    background: #ffffff;
    height: 24px;
    line-height: 24px;
}
tr:hover, tr.active, tr.even:hover {
    background: #f7f7f7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7f7f7 0%, #efefef 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#efefef));
    background: -webkit-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
    background: -o-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
    background: -ms-linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
    background: linear-gradient(top,  #f7f7f7 0%,#efefef 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#efefef',GradientType=0 );
}
tr.even {
    background: rgba(250, 250, 250, 0.41);
}
td, th {
    padding: 5px;
    border: 1px solid #D6D6D6;
    color: #666;
    font-size: 12px;
}
td small {
    font-size: 9px;
    color: #888;
}
tr.noborder td {
    border: 0px !important;
}
/**
*  LA MISMA SUCIEDAD DEL custom.js      ************************************************************************************************
*/
table#projects tr, table#media tr, table#clients tr, table#invoices tr, 
table#cprojects tr, table#cinvoices tr, table#quotations tr, table#messages tr, 
table#cmessages tr, table#subscriptions tr, table#csubscriptions tr,
table#tickets tr, table#ctickets tr, table#providers tr {
    cursor: pointer;
}
.dataTables_filter {
    margin: -26px 5px 0 0;
    height: 26px;
}
.dataTables_filter label {
    width: auto;
    height: auto;
    margin: 6px 0 0 0;
    float: right;
}
.dataTables_filter input {
    margin: -12px 0 0 0;
    height: 12px;
    color: #666;
    width: 130px;
    font-size: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.dataTables_info {
    font-size: 11px;
    color: #777;
    margin: 2px;
    float: left;
}
.dataTables_paginate {
    float: right;
    margin: 5px 0px;
}
.paginate_enabled_next, .paginate_enabled_previous, .paginate_disabled_previous, .paginate_disabled_next {
    display: inline-block;
    padding: 2px 7px;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 16px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
    background-image: -webkit-linear-gradient(top, white, #E6E6E6);
    background-image: -o-linear-gradient(top, white, #E6E6E6);
    background-image: linear-gradient(to bottom, white, #E6E6E6);
    background-image: -moz-linear-gradient(top, white, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-bottom-color: #A2A2A2;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.paginate_enabled_next {
    cursor: pointer;
    border-left: 0px;
    margin: 0 0 0 -2px;
    -moz-border-radius: 4px 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
}
.paginate_disabled_next {
    border-left: 0px;
    color: #CCC;
    margin: 0 0 0 -3px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border: 1px solid #DDD;
    border-bottom: 1px solid #CCC;
}
a.paginate_disabled_previous:hover, a.paginate_disabled_next:hover{
    color:#CCC;
    text-decoration: none;
}
a.paginate_enabled_previous:hover, a.paginate_enabled_next:hover{
    text-decoration: none;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
    /* Buttons in IE7 don't get borders, so darken on hover */

    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.paginate_enabled_previous {
    cursor: pointer;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-bottom: 1px solid #CCC;
}
.paginate_disabled_previous {
    color: #CCC;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-bottom: 1px solid #CCC;
}
.dataTables_length {
    display: none;
}

.delete, .edit {
    color: #999;
    font-size: 11px;
    font-weight: bold;
    padding: 2px 5px;
    line-height: 20px;
    border: 1px solid #D3D3D3;
    text-shadow: #FFF 0 1px;
    background: #f2f2f2;
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#f2f2f2 100%);
    background: linear-gradient(top,  #f2f2f2 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=0 );
}
.edit:hover, .delete:hover {
    background: #E0E0E0;
    color: #777;
    border-color: #C9C9C9;
}
.edit {
    border-left: 0px;
    margin: 0 0 0 -3px;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
}
#items .edit {
    margin-left: -5px;
}
.hide{
    display:none;
}
/* -------------  Dashlets  ---------------- */
#dashlets {
    clear: both;
    margin: 0 0 15px;
}
#dashlets div {
    text-shadow: #FFF 1px 1px 1px;
    box-shadow: 0 0px 2px #888;
    color: #444;
    font-size: 12px;
    text-align: center;
    line-height: 16px;
    padding: 15px 5px;
    height: 100px;
    margin-bottom: 15px;
    border: 0px solid #CCC;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #f9fcf7;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmNmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f9fcf7 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #f9fcf7 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #f9fcf7 0%,#f2f2f2 100%);
    background: linear-gradient(top,  #f9fcf7 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f2f2f2',GradientType=0 );
}
#dashlets div:hover {
    box-shadow: 0 0px 2px #444 !important;
}
#dashlets div.last {
    margin-right: 0px !important;
}
#dashlets h5 {
    margin: 0;
    color: #999;
    font-size: 18px;
}
#dashlets h2 {
    color: #999;
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #DDD 0px 1px 1px;
    margin: 0 0 5px;
}

.stats-frame h2 {
    color: #555;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 32px;
    line-height: 32px;
    margin: 0px;
}
.stats-frame h5 {
    color: #BBB9B9;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 20px;
}
#stat-numbers {
    padding: 20px 30px;
}
#graph {
    height: 250px;
}
ul.eventlist{
    margin: 0;
    height: 170px;
    overflow: hidden;
}
ul.eventlist li{
    list-style: none;
    clear:left;
    line-height: 32px;
    border-bottom: 1px solid #eeeeee;
}
ul.eventlist li p{
    margin:0 0 2px 0;
}
ul li span.datestamp{
    padding: 5px;
    display: block;
    background: #EEE;
    height: 35px;
    width: 35px;
    text-align: center;
    float: left;
    margin: 0 10px 10px 0;
}
ul li h3{
    margin: 3px 0 0 0;
    line-height: 16px;
}
ul.messages {
    overflow: hidden;
    height: 120px;
}
ul.messages li {
    margin: 0 0 10px;
    height: 50px;
}
ul.messages li a {
    text-decoration: none;
    display: block;
}
ul.messages li img.userpic {
    width: 32px;
    height: 32px;
    border: 1px solid #DDD;
    float: left;
    margin: 1px 10px 0 0;
}
ul.dash-messages li img.userpic{
    width: 46px;
    height: 46px;
}
ul.messages li h5 {
    margin: 0px;
    color: #555;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
}
ul.messages li h5 span.time, ul.messages li.New a h5 span.time, ul.messages li:hover h5 span.time{
    color:#3A87AD;
    font-weight: bold;
    font-size: 11px;
}
ul.messages li small {
    color: #999;
    font-size: 10px;
    display: block;
    line-height: 10px;
}
ul.messages li span {
    line-height: 16px;
    color: #666;
    font-size: 12px;
}
ul.messages li span .label {
    color: #FFF;
    font-size: 11px;
    font-weight: normal;
}
.message-bar{
    margin:0;
    height:26px;
    line-height: 26px;
    padding:0 8px;
    display:block;
    border:1px solid #DDD;
    border-bottom: 0px;
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
    background:whitesmoke;

}
.message-bar a {
    height: 26px;
    display: inline-block;
    padding: 0 8px 0 4px;
}
.message-bar a.rb{
    border-right: 1px solid #DDD;
}
.message-bar a.pull-right{
    padding: 0px;
}
.message-bar a.first{
    padding-right:7px;
    padding-left:0px;
}

.message-bar span{
    padding:0 5px;
    font-weight: bold;
    font-size: 12px;

}
.message-sidebar ul.messages {
    min-height: 255px;
    padding-bottom: 1px;
}
.message-sidebar ul {
    border: 1px solid #DDD;
    height: 100%;
    min-height: 255px;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.message-sidebar ul.messages li {
    margin: 0px;
    padding: 8px 7px;
    height:35px;
    border-bottom: 1px solid #ddd;

}
.message-sidebar ul.messages li.New a h5, .message-sidebar ul.messages li.New a span{
    color:#000;
}
.message-sidebar ul.messages li.active, .message-sidebar ul.messages li.active h5, .message-sidebar ul.messages li.active:hover {
    background: #F1F1F1;
    color:#111;
    /*border-left: 3px solid #397EB4;*/
}
.message-sidebar ul.messages li:hover{
    background: #FAFAFA;
}
.message-sidebar ul.messages li:hover span, .message-sidebar ul.messages li:hover h5, .message-sidebar ul.messages li.active h5, .message-sidebar ul.messages li.active span {

}
.message-sidebar ul.messages li:hover small, .message-sidebar ul.messages li.active small {
    color: #222;
}
.message-sidebar ul.messages li:hover .userpic, .message-sidebar ul.messages li.active .userpic {

}
.message-sidebar ul.messages li.nav-header {
    height: 20px;
    line-height: 20px;
    padding: 0px 14px;
    background: whiteSmoke;
}
.message-sidebar ul.messages li.nav-header:hover {
    color: #888;
}
.message-content {
    background: #FFF;
    border: 1px solid #DDD;
    min-height: 90px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom:20px;
}
.message-content.own{

}
.message-header {
    line-height: 19px;
    padding: 6px 6px 3px 6px;
    background:whiteSmoke;
    border-bottom:1px solid #DDD;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
}
.message-header img.userpic{
    margin-right:10px;
    margin-right: 10px;
    width: 40px;
}
.message-header span.subject{
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.message-header .label{
    line-height: 24px;
}
.message-body{
    padding:15px;
}
div.reply {
    background:white;
    margin:-20px 15px 20px;
    padding:5px 19px 5px 5px;
    box-shadow: 0 1px 2px 0 #888;
    border-radius: 0 0 7px 7px;
}
div.reply textarea{
    height:20px;
    width: 100%;
    line-height: 20px;
    margin: 0px 0 0 0;
    border-radius: 7px;

}
div.reply #send{
    display:none;
    float:left;
    margin-left:3px;
    margin-right: 15px;
}
ul.todo {
    list-style: none;
    margin: 0px;
    background: url("../img/todobg.png") repeat-y;
}
.stdpad ul.todo{
    height: 169px;
    overflow: hidden;
}
ul.todo li.last-item {
    border-bottom: 0;
}
ul.todo li {
    border-bottom: 1px solid #b6d9fd;
    line-height: 33px;
    font-weight: bold;
    font-size: 11px;
    color: #555;
}
ul.todo li a{
    color:#555;
}
ul.todo li a:hover{
    color:#555;
    text-decoration: none;
}
ul.todo li.done {
    color: #999;
    text-decoration: line-through;
}
ul.todo li i {
    margin-right: 15px;
    margin-left: 5px;
}
ul.todo li i.icon-tick {
    background: url("../img/tick-cross.png");
}
ul.todo li.done i.icon-tick {
    background: url("../img/tick-cross.png") 0 14px;
}
ul.todo li.hold i.icon-tick {
    background: url("../img/hold.png") 2px 1px no-repeat;
}
ul.todo li i.icon-edit, ul.todo li i.icon-user, ul.todo li i.icon-eye-open{
    margin:1px 5px;
}
.notask{
    padding-left: 35px;
}
footer p {
    color: #777;
    font-size: 11px;
}
footer p small {
    font-size: 10px;
    color: #999;
}

/* label i */
i.red-arrow-up {
    background: url("../img/red-arrow-up.png");
    margin: -10px 0 0 0;
    left: 48%;
    position: absolute;
    height: 7px;
    width: 10px;
}

/* file upload */

#file, #file2, .filenodisplay {
    display: none;
}

.dummyfile input[type="text"] {
    display: inline;
}

/* Slider */
.ui-slider-horizontal .ui-slider-handle {
    top: -4px;
    margin-left: -1px;
}

.ui-slider-horizontal {
    height: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.ui-slider {
    margin: 0px;
}

.ui-slider .ui-slider-handle {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    outline: none;
}
.ui-slider-range .ui-widget-header .ui-slider-range-min{
    background:blue;
}
.ui-slider-handle .ui-state-default .ui-corner-all{
    font-size: 10px;

}
ul.details{
    list-style: none;
    margin:0;
}
ul.details li{
    padding:7px 10px;
    border-bottom: 1px solid #ECECEC;
    min-height: 20px;
}
ul.details li span{
    width:30%;
    display:block;
    float:left;
    font-weight: bold;
    font-size: 13px;
    color: #5E5E5E;
    white-space: nowrap;
    min-width: 110px;
    padding: 0 10px 0 0;

}
.question{
    font-weight: bold;
    color:#666;
}
.row{
    margin-left: 0px !important;
}
.subcont{
    border:1px solid #DDD;
}
.article{
    padding:15px;
}
.progress-small{
    height:4px;
}
.progress-medium{
    height:5px;
    margin:0;
}
.notification{
    position:fixed;
    right:10px;
    bottom:-300px;
    background: #111;
    background: rgba(0, 0, 0, .8);
    margin: 0 30px 0 0;
    padding: 10px;
    width: 350px;
    color: #FFFFFF;
    font-size: 13px;
    -webkit-box-shadow: 0 0 3px #DDD;
    -moz-box-shadow: 0 0 3px #DDD;
    -o-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD;
    -webkit-text-shadow: 0 1px 0 #000;
    -moz-text-shadow: 0 1px 0 #000;
    -o-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.notification-success div{
    background: url("../img/success.png") 0px 2px no-repeat;
    padding-left:22px;
    min-height: 20px;
}
.notification-error div{
    background: url("../img/error.png") 0px 2px no-repeat;
    padding-left:22px;
    min-height: 20px;
}

.commentform {
    margin:15px 0;
}
.preview{
    margin-bottom:30px;
}
/*custom icons*/
.icon-loader {
    background:url("../img/icon-loader.gif");
}
.btn-loader-red .icon-loader {
    background:url("../img/icon-loader-red.gif");
}
.icon-loader-black {
    background:url("../img/icon-loader-black.gif");
}









#mainfull {
    width:700px;
    margin:10px auto;
    background:#fff;
    border:1px solid #d2d2d2;
    padding:0px 45px;
}
#mainfull hr{
    border-top:1px solid #EFEFEF;
    border-left:0px;
    margin:20px 0;
}
#mainfull h3{
    color:#444;
    text-shadow: 1px 0px 1px #999;
    text-transform: uppercase;

}
#mainfull span.question {
    font-weight: bold;
    color:#333;
    clear:both;
    display: block;
    line-height: 25px;
    text-shadow: 1px 0px 1px #999;
    margin:5px 0 0;
}
.answer {
    margin:0 10px;
}
#mainfull input[type='radio'], .styledRadio {
    float:left;
    width: 15px;
    line-height: 20px;
    height:20px;
    margin:2px 5px 0;
}
#mainfull div.radiobutton{
    height:20px;
    line-height: 25px;
    margin:5px 0 0;

}
#mainfull input[type='text'], #mainfull textarea{
    width: 98%;
}
#mainfull .bottom{
    background: #f2f2f2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 );
    border-top:1px solid #CCC;
    text-align:left;
    padding:10px;
    margin:15px -45px 0 -45px;
}
#mainfull input[type="submit"] {
    margin:0px 0 0 35px !important;
}


#mainfull div.top{
    display: block;
    list-style:none;
    background: #f2f2f2;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f2f2f2 0%, #e8e8e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8));
    background: -webkit-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: -o-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: -ms-linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    background: linear-gradient(top,  #f2f2f2 0%,#e8e8e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 );
    border-bottom:1px solid #CCC;
    text-align:left;
    padding:10px 17px 10px 45px;
    margin:0px -45px 20px;
    color:#555;
    font-weight: bold;
    font-size:15px;
    text-shadow: 0px 1px 1px white;
}

#quotemessage.success {
    float:none !important;
    clear:both !important;
    position:static !important;
    display:block !important;
    width:770px;
    margin:10px auto;
}

.small-menu{
    height: auto !important;
    min-height: auto !important;
    width: auto !important;
    min-width: auto !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 6px !important;
}
ul.accesslist{
    list-style: none;
}
ul.accesslist li .styledCheckbox{
    height:18px !important;
    width:18px !important;
    float:left;
    margin: 3px 7px 0 0;
}
.checkbox.styledCheckbox{
    float:left;
    height:18px !important;
    width:18px !important;
    margin: 3px -12px 0 0;
}
.badge-new {
    padding: 2px 6px 2px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin: 1px;
}

.normal-white-space {
    white-space: normal;
}

.select2-container .select2-choice {
    border: 1px solid #cccccc !important;
}

ul.ticket-details{
    list-style: none;
    margin:0;
}
ul.ticket-details li{
    padding:7px 10px;
    border-bottom: 1px solid #ECECEC;
    min-height: 20px;
}
ul.ticket-details li span{
    width:30%;
    display:block;
    float:left;
    font-weight: bold;
    font-size: 13px;
    color: #5E5E5E;
    white-space: nowrap;
    min-width: 80px;
    padding: 0 10px 0 0;

}
.article-content {
    background: #FFF;
    border: 1px solid #DDD;
    min-height: 90px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-bottom:20px;
}
.article-header{
    line-height: 20px;
    padding: 6px 6px 6px 9px;
    background: whiteSmoke;
    border-bottom: 1px solid #DDD;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    min-height: 20px;
}

.nosearch .dataTables_filter{
    display:none;
}


@media (max-width: 979px) {
    .modal-footer { 
        margin:10px -15px -15px -15px !important;
    }
    .modal-body {
        max-height: 1500px !important;

    }
    .modal {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}
