body {
    padding-top: 47px;
    padding-bottom: 2px;
}

.tablas_chulas td {
    cursor: pointer;
}

.notification{
    position:fixed;
    right:10px;
    bottom:-300px;
    background: #111;
    background: rgba(0, 0, 0, .8);
    margin: 0 30px 0 0;
    padding: 10px;
    width: 350px;
    color: #FFFFFF;
    font-size: 13px;
    -webkit-box-shadow: 0 0 3px #DDD;
    -moz-box-shadow: 0 0 3px #DDD;
    -o-box-shadow: 0 0 3px #DDD;
    box-shadow: 0 0 3px #DDD;
    -webkit-text-shadow: 0 1px 0 #000;
    -moz-text-shadow: 0 1px 0 #000;
    -o-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 black;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.notification-success div{
    background: url("../img/success.png") 0px 2px no-repeat;
    padding-left:22px;
    min-height: 20px;
}
.notification-error div{
    background: url("../img/error.png") 0px 2px no-repeat;
    padding-left:22px;
    min-height: 20px;
}